body {
    background-image: url(/Background\ tennis.jpg);
    background-size: auto;
}

#root {
    display: grid;
    grid-template-columns: 60vw 15vw 15vw 10vw;
    grid-template-rows: auto;
    grid-template-areas: 
    "title user password submit"
    ". . error error"
    "welcome welcome . ."
		"data data . ."
    "list list . .";
}

#title {
    grid-area: title;
    justify-self: center;
    margin-top: 0;
    font-family: serif;
    font-size: 7vh;
    color: #ffff66;
}

input {
    height: 5vh;
    margin: 5px 15px;
}

#username {
    grid-area: user;
}

#password {
    grid-area: password;
}

button {
    grid-area: submit;
    width: 7vw;
    height: 5vh;
    margin-top: 1vh;
    background-color: #0492C2;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

#intro {
    grid-area: welcome;
    color: aliceblue;
    font-size: 4vh;
    margin-left: 35vw;
    margin-top: 5vh;
}

h2 {
    grid-area: welcome;
    justify-self: center;
    margin-left: 25vw;
    font-size: 5vh;
    color: #ffff66;
}

ul {
    grid-area: list;
    justify-self: center;
    margin-left: 25vw;
    background-color: hsl(120, 100%, 75%);
    border-radius: 20px;
}

li {
    list-style-type: none;
    margin: 3vh;
}

p {
    display: none;
    grid-area: error;
    color: #ff0000;    
    font-size: 3vh;
    margin-top: -4vh;
    margin-left: -8vw;
    font-weight: bold;
}

h5 {
	grid-area: data;
	justify-self: center;
	margin-left: 25vw;
	font-size: 3vh;
	margin-top: 0;
	margin-bottom: 0;
	color: #ffffff;
}

@media only screen and (max-width: 830px) {
	#root {
		display: flex;
		flex-direction: column;
	}
	#title {
		text-align: center;
	}
	input {
		width: 50%;
		text-align: center;
		align-self: center;
	}
	button {
		align-self: center;
		width: 15vw;
		height: 6vh;
	}
	#intro {
		text-align: center;
		margin: 5vh auto;
	}
	h2 {
		margin: 5vh auto;
	}
	ul {
		margin: auto;
	}
	p {
		margin: 5vh auto;
		font-size: 3.5vh;
	}
	h5 {
		margin: 2vh auto;
	}
}